.dashboard-cards {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 25px;

    padding: 30px;
}

.card {

    background: white;

    border: 1px solid #dce3ee;

    border-radius: 14px;

    padding: 30px;
}

.card h3 {

    font-size: 20px;

    margin-bottom: 20px;
}

.card span {

    display: block;

    font-size: 40px;

    font-weight: 700;

    margin-bottom: 20px;
}

.card a {

    color: #1565ff;

    text-decoration: none;
}

.dashboard-grid {

    display: grid;

    grid-template-columns:
        1.3fr 1fr;

    gap: 25px;

    padding: 0 30px 30px;
}

.panel {

    background: white;

    border: 1px solid #dce3ee;

    border-radius: 14px;

    padding: 25px;
}

.panel h2 {

    margin-bottom: 25px;
}

.chart-placeholder {

    height: 300px;

    border: 2px dashed #cbd5e1;

    display: flex;

    align-items: center;

    justify-content: center;
}

.panel li {

    margin-bottom: 15px;
}

@media(max-width:1200px) {

    .dashboard-cards {

        grid-template-columns:
            repeat(2, 1fr);
    }

    .dashboard-grid {

        grid-template-columns: 1fr;
    }
}

@media(max-width:768px) {

    .admin-sidebar {

        display: none;
    }

    .dashboard-cards {

        grid-template-columns: 1fr;
    }
}