.footer {

    background: #000f37;

    color: white;

    padding: 60px 0 20px;
}

.footer-grid {

    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns:
        1.3fr 1fr 1fr 1fr;

    gap: 50px;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer h3 {
    margin-bottom: 20px;
}

.footer p {
    color: #c9d1e6;
    line-height: 1.8;
}

.footer ul li {

    color: #c9d1e6;

    margin-bottom: 15px;
}

.copyright {

    max-width: 1200px;

    margin: 40px auto 0;

    padding-top: 25px;

    border-top: 1px solid rgba(255, 255, 255, .15);

    text-align: center;

    color: #c9d1e6;
}

@media(max-width:900px) {

    .footer-grid {

        grid-template-columns: 1fr;

        text-align: center;

        padding: 0 20px;
    }
}