.header {
    background: #000f37;
}

.topbar {
    max-width: 1200px;
    margin: auto;

    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    color: white;
    font-size: 34px;
    font-weight: 700;
}

.search {
    width: 500px;
    display: flex;
}

.search input {
    width: 100%;
    height: 48px;

    padding: 0 15px;

    border: none;
    outline: none;

    border-radius: 8px 0 0 8px;
}

.search button {
    width: 60px;
    background: white;

    border-radius: 0 8px 8px 0;
}

.icons {
    display: flex;
    gap: 25px;
}

.icons a {
    color: white;
    font-size: 24px;
    position: relative;
}

.badge {
    position: absolute;

    top: -6px;
    right: -10px;

    width: 18px;
    height: 18px;

    background: red;
    color: white;

    border-radius: 50%;

    font-size: 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {

    max-width: 1200px;
    margin: auto;

    display: flex;
    gap: 60px;
}

.navbar a {

    color: white;

    padding: 20px 0;

    font-weight: 400;

    border-bottom: 3px solid transparent;

    transition: .3s;
}

.navbar a:hover {
    opacity: .8;
}

.navbar a.active {

    font-weight: 700;

    border-bottom: 3px solid white;
}

@media(max-width:900px) {

    .topbar {
        flex-direction: column;
        height: auto;
        gap: 15px;
        padding: 15px;
    }

    .search {
        width: 100%;
    }

    .navbar {
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}