.register-container {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.register-card {

    width: 100%;
    max-width: 700px;

    background: white;

    border: 1px solid #d9dee8;

    border-radius: 12px;

    padding: 40px 70px;
}

.register-header {

    text-align: center;

    margin-bottom: 50px;
}

.register-logo {

    font-size: 28px;

    font-weight: 700;

    color: #14213d;
}

.register-logo span {

    color: #0d5eff;
}

.register-subtitle {

    margin-top: 10px;

    font-size: 18px;

    color: #3d4c63;
}

.register-title {

    text-align: center;

    margin-bottom: 40px;
}

.register-title h2 {

    font-size: 56px;

    color: #14213d;
}

.register-title p {

    color: #7d8597;

    font-size: 20px;

    margin-top: 10px;
}

.form-group {

    margin-bottom: 25px;
}

.form-group label {

    display: block;

    margin-bottom: 10px;

    font-weight: 600;
}

.input-group {

    display: flex;
    align-items: center;

    gap: 15px;

    border: 1px solid #d9dee8;

    border-radius: 10px;

    padding: 16px;
}

.input-group img {

    width: 22px;
}

.input-group input {

    flex: 1;

    border: none;
    outline: none;

    font-size: 17px;
}

.btn-register {

    width: 100%;

    height: 58px;

    background: #0d5eff;

    color: white;

    font-size: 18px;

    border-radius: 10px;

    margin-top: 15px;

    transition: .3s;
}

.btn-register:hover {

    background: #0050ff;
}

.back-login {

    text-align: center;

    margin-top: 35px;
}

.back-login a {

    color: #0d5eff;

    font-weight: 600;
}

@media(max-width:768px) {

    .register-card {

        padding: 30px;
    }

    .register-title h2 {

        font-size: 40px;
    }
}

@media(max-width:480px) {

    .register-card {

        padding: 20px;
    }

    .register-title h2 {

        font-size: 32px;
    }

    .register-subtitle {

        font-size: 15px;
    }
}